# IntelliJ IDEA
.idea/
*.iml
out/
.idea/marketplace-event.iml
.idea/misc.xml
.idea/modules.xml


# Build systems (на будущее)
.gradle/
build/
target/

# Java артефакты
*.class
*.jar
*.war
*.ear

# OS
.DS_Store
